body {
  background-color: $p-color;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  background-image: url('assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 10% 2% 0 2%;
}

img {
  max-width: 25%;
  height: auto;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

h1 {
  font-size: 5rem;
  font-weight: 400;
  font-style: italic;
  margin: 15% 0 10% 0;;
}

#menu {
  margin-bottom: 8%;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    padding: 0 7.2rem 0 7.2rem;
  }
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.75rem;
  font-style: italic;
}

.white {
  color: white;
}

.link-1:hover {
  color: #ff8ffc;
}

.link-2:hover {
  color: #00a718;
}

.link-3:hover {
  color: #0632ff;
}

#content { 
  
  h1 {
    font-size: 1.75rem;
    font-style: italic;
  }
}