@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  ul li {
    padding: 0 3rem 0 3rem;
  }
  a {
    font-size: 1.2rem;
  }
  #menu {
    align-self: start;
    margin-bottom: 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  img {
    max-width: 30%;
  }
  h1 {
    font-size: 2.1rem;
  }
  ul li {
    padding: 0 1rem 0 1rem;
  }
  a {
    font-size: 1rem;
  }
  #menu {
    align-self: start;
    margin-bottom: 0;
  }
  .tour-container {
    font-size: 0.8rem;
    a {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-device-height: 568px) {
  h1 {
    font-size: 2rem;
  }
  ul li {
    padding: 0 0.5rem 0 0.5rem;
  }
  a {
    font-size: 1rem;
  }
  #menu {
    margin-bottom: 0;
  }
  .tour-container {
    font-size: 0.8rem;
    a {
      font-size: 0.8rem;
    }
  }
}
